.movie-card {
  margin-right: 1.5rem;
  margin-bottom: 2rem;
  width: 300px;
  background-color: #141d29;
  color: lightgrey;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.image {
  height: 500px;
  width: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
