.movie-details {
  display: grid;
  color: #fff;
  padding: 15px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 15px;
}

h4 {
  font-weight: bold;
  margin: 20px;
}

.image-desc {
  width: 25vw;
  height: auto;
  border-radius: 30px;
}

h2 {
  margin: 20px;
}
